<style>
	.home-blog {
		background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) !important;

	}
	.home-blog:hover {
		background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) !important;
        -webkit-transform :scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        transition: all 0.3 s;
	}
	.text-white {
		color: #fff !important;
	}
	.fixed-blog-img {
		height: 220px;
		object-fit: cover;
		overflow: hidden;
	}
	.card {
		position: relative;
		display: flex;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 0.125rem solid rgba(0, 0, 0, 0.125);
	}
	.card-img-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 1.25rem;
	}
    .btn {
    	padding: 10px, 50 px !important;
    	font-size: 25px !important;
    }
</style>


<section class="page-section" id="blog">
		<div class="container">
			<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
				Blog
			</h2>
			<div class="divider-custom">
				<div class="divider-custom-line"></div>
				<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
				<div class="divider-custom-line"></div>
			</div>
		</div>

		<div class="row justify-content-center">
		<div class="col-md-6 col-lg-4 mb-3">
			<a href="#">
				<div class="card text-white home-blog">
					<img src="/assets/img/portfolio/cabin.png" alt="">
					<div class="card-img-overlay fixed-blog-img">
						<h5 class="card-title">Nodejs da blog website</h5>
						<p class="card-text">Added: 10.2.2021</p>
					</div>
				</div>
			</a>
		</div>
		<div class="text-center">
			<a href="#" class="btn btn-primary">All blogs</a>
		</div>
	</div>
	</section>