{{> otherNavbar}}

<div class="container mt-4 mb-4">
	<div class="row">
		<div class="col-12">
			<div class="card p-3">
				<form action="" method="POST" enctype="multipart/form-data">
					<div class="mb-3">
						<label for="title" class="form-label">Post title</label>
						<input type="text" class="form-control" id="title" placeholder="Post title" name="title">
					</div>
					<div class="mb-3">
						<label for="image" class="form-label">Post image</label>
						<input type="file" class="form-control" id="image" name="image">
					</div>
					<div class="mb-3">
						<label for="content" class="form-label">Post content</label>
						<textarea class="form-control" id="content" rows="5" name="content"></textarea>
					</div>
					<div class="mb-3">
						<button type="submit" class="btn btn-primary">Add post</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</div>

{{> footer}}